@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customized: Scrollbar */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background-color: #00000011;
}

::-webkit-scrollbar-thumb {
	background-color: #ddd;
	outline: none;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #c2c3c4;
}

/* Ant Design Message Over Everything  */
.ant-message {
	z-index: 1220;
}
.ant-picker-dropdown,
.ant-select-dropdown {
	z-index: 1400 !important;
}

input.ant-input {
	color: #4a6979 !important;
}

/* NProgess Color */
#nprogress {
	z-index: 1000000000 !important;
}

#nprogress .bar {
	background: #f9a428 !important;
	height: 4px !important;
}

#nprogress .spinner-icon {
	border-top-color: #f9a428 !important;
	border-left-color: #fcd294 !important;
	/* z-index: 1000000000 !important; */
}

#nprogress .peg {
	box-shadow: 0 0 10px #f9a428, 0 0 5px #fcd294 !important;
}
